body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
.p {
  font-family: "Times New Roman", Times, serif;
  color: black;

}
.logo1{
  background-image: url("/static/images/Logo1.jpg");
  background-size: cover;
}


.sloqune {
    font-style: oblique;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}




  .jumbotron {
    /*background-color: #f4511e;*/
   background-color: white;
    padding: 100px 25px;
      /*padding: 0;*/
      margin: 0;
  }
  .img1{
    /*background-image: url("/static/images/resize-Block.jpg");*/
        background-image: url("/static/images/banesr--c9.jpg");

    background-size: cover;

  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;

  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color:black;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    opacity: 0.8;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    width: auto;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

.image {
    background-image: url("/static/images/about2.jpg");

}

.H_font
{
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 14px;
				color: black;
				line-height: 1.3em;
}
/*@font-face {*/
  /*font-family: "ubuntu";*/
  /*font-style: italic;*/
  /*font-weight: 300;*/
  /*src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");*/
/*}*/
/*body {*/
  /*height: 100vh;*/
  /*margin: 0;*/
  /*background-color: #333641;*/
  /*font-family: "ubuntu", Arial, sans-serif;*/
  /*overflow-x: hidden;*/
  /*display: grid;*/
  /*place-items: center;*/
/*}*/

/*a {*/
  /*text-decoration: none;*/
  /*color: #9ca0b1;*/
/*}*/

/*.wrapper {*/
  /*text-align: center;*/
/*}*/
.wrapper h1 {
  /*color: #fff;*/

  /*font-size: 92px;*/
/*font-family: "Times New Roman", Times, serif;*/

  text-transform: uppercase;
  font-weight: 700;
 font-family: "Times New Roman", Times, serif;
  background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%,yellow 90%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  /*-webkit-text-stroke-width: 0.01em;*/

}

@keyframes textclip {
  to {
    background-position: 200% center;

  }
}
.banner-next{
    padding: 0;
    margin: 0;
    height: 60vh;
    width: 100%;
    position: absolute;
}

/**/